html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
}

div#inner-content {
  background-color: #006B54;
  width: 100%;
  height: 100%;
}

input[type=text] {
  padding: 0px;
  position: relative;
  outline: none;
  border: 1px solid;
  border-color: #95a898;
  background-color: #bbd2be;
  font-size: 12px;
}
