<body>
    <title>GHULS</title>
    <link rel="stylesheet" href="/styles.css">
    <h1>Welcome to GHULS, or GitHub Language Statistics!</h1>
    <p>Please be sure to report any bugs you find to <a href="https://github.com/elifoster/ghuls/issues">the issue tracker</a>!</p>
    <p>Also note that there is a CLI version of this available through Ruby Gems!</p>
    <form action="/analyze" method="get">
        <input type="text" name="user" placeholder="Username">
    </form>
    <a href="/analyze" method="get" class="btn">Random User</a>
</body>
