<body>
    <title>GHULS</title>
    <link rel="stylesheet" href="/styles.css">
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Username">
    </form>
</body>
